@{
    ViewData["Title"] = "Home Page";
}

<section class="">
    <h1 id="year" class="">2025</h1>
    <div class="d-flex justify-content-between">
        <div>
            <button id="prev" class="btn btn-outline-light">Previous</button>
            <button id="next" class="btn btn-outline-light">Next</button>
        </div>
        <div>
            <button id="save" class="btn btn-success">Save</button>
            <button id="cancel" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</section>

<section id="budget" class="col-12 my-3">
    <div id="budgetBody" class="d-flex">
        <div id="categories" class="d-flex flex-column">
            <h2>Category</h2>
            <p>Income</p>
            <p>Primary</p>
            <p>Secondary</p>
            <p>Gifts</p>
            <p>Total</p>
            <p>Expenses</p>
            <p>Car Insurance</p>
            <p>Eat Out</p>
            <p>Fast</p>
            <p>Gas</p>
            <p>Groceries</p>
            <p>Holiday</p>
            <p>Medical</p>
            <p>Misc</p>
            <p>Rent</p>
            <p>Tithing</p>
            <p>Vacation</p>
            <p>Total Expenses</p>
            <p>Total Net</p>
        </div>
        <div id="January" class="d-flex flex-column">
            <h2>Jan</h2>
        </div>
        <div id="February" class="d-flex flex-column">
            <h2>Feb</h2>
        </div>
        <div id="March" class="d-flex flex-column">
            <h2>March</h2>
        </div>
        <div id="April" class="d-flex flex-column">
            <h2>April</h2>
        </div>
        <div id="May" class="d-flex flex-column">
            <h2>May</h2>
        </div>
        <div id="June" class="d-flex flex-column">
            <h2>June</h2>
        </div>
        <div id="July" class="d-flex flex-column">
            <h2>July</h2>
        </div>
        <div id="August" class="d-flex flex-column">
            <h2>Aug</h2>
        </div>
        <div id="September" class="d-flex flex-column">
            <h2>Sept</h2>
        </div>
        <div id="October" class="d-flex flex-column">
            <h2>Oct</h2>
        </div>
        <div id="November" class="d-flex flex-column">
            <h2>Nov</h2>
        </div>
        <div id="December" class="d-flex flex-column">
            <h2>Dec</h2>
        </div>
    </div>
</section>

<div class="col-12 d-flex justify-content-center">
    <button id="delete" class="btn btn-danger mx-3">Clear Data</button>
</div>