@{
    ViewData["Title"] = "Home Page";
}

<section class="">
    <h1 id="year" class="">2025</h1>
    <button id="prev" class="btn btn-outline-light">Previous</button>
    <button id="next" class="btn btn-outline-light">Next</button>
</section>

<section class="">
    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
</section>
