@{
    ViewData["Title"] = "Home Page";
}

<section class="">
    <h1 id="year" class="">2025</h1>
    <button id="prev" class="btn btn-outline-light">Previous</button>
    <button id="next" class="btn btn-outline-light">Next</button>
</section>

<section id="budget" class="col-12 my-3">
    <div id="budgetBody" class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <h2>Category</h2>
            <h2>Income</h2>
            <h3>Primary</h3>
            <h3>Secondary</h3>
            <h3>Gifts</h3>
            <h3>Total</h3>
            <h2>Expenses</h2>
            <h3>Car Insurance</h3>
            <h3>Eat Out</h3>
            <h3>Fast</h3>
            <h3>Gas</h3>
            <h3>Groceries</h3>
            <h3>Holiday</h3>
            <h3>Medical</h3>
            <h3>Misc</h3>
            <h3>Rent</h3>
            <h3>Tithing</h3>
            <h3>Vacation</h3>
            <h3>Total Net</h3>
        </div>
        <div id="January" class="d-flex flex-column col-1 text-center">
            <h2>January</h2>
            <br>
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <div>0</div>
            <br>
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
            <input type="number" value="10">
        </div>
        <div id="February" class="d-flex flex-column">
            <h2>February</h2>
        </div>
        <div id="March" class="d-flex flex-column">
            <h2>March</h2>
        </div>
        <div id="April" class="d-flex flex-column">
            <h2>April</h2>
        </div>
        <div id="May" class="d-flex flex-column">
            <h2>May</h2>
        </div>
        <div id="June" class="d-flex flex-column">
            <h2>June</h2>
        </div>
        <div id="July" class="d-flex flex-column">
            <h2>July</h2>
        </div>
        <div id="August" class="d-flex flex-column">
            <h2>August</h2>
        </div>
        <div id="September" class="d-flex flex-column">
            <h2>September</h2>
        </div>
        <div id="October" class="d-flex flex-column">
            <h2>October</h2>
        </div>
        <div id="November" class="d-flex flex-column">
            <h2>November</h2>
        </div>
        <div id="December" class="d-flex flex-column">
            <h2>December</h2>
        </div>
    </div>
</section>
