h2 {
    font-size: 24px;
}

/* columns */
#budgetBody div:not(#categories) {
    width: 7vw;
}

#categories {
    width: 150px;
}

#categories p {
    width: 150px;
    height: 28px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.grid-square {
    height: 28px;
    width: 7vw;
}

input {
    height: 28px;
    width: 7vw;
}